.wrapper {
    display: flex;
    align-items: center;
    /* border: 1px solid rgb(255, 187, 0); */
    padding: 3px;
    font-weight: bold;
    letter-spacing: 1.2px;
}


.wrapper .icon {
    font-size: 1.5rem;
    margin-top: -5px;
}

.wrapper .text {
    display: flex;
    font-size: 1.875rem;



}

.wrapper .text .left {
    color: teal
}

.wrapper .text .right {
    /* color: rgb(226, 147, 0); */
    color: rgb(211, 1, 211);
}