.wrapper {
    /* font-size: 150%; */
    max-height: 40px;
    /* max-width: 40px; */
    display: flex;
    /* gap: 5px; */
    align-items: flex-start;
    /* background-color: red; */
    cursor: pointer;
    color: rgb(255, 145, 0);
    font-size: 200%;
    font-weight: bold;
    margin-top: -5px;
}






@media (max-width:570px) {
    .right {
        display: none;
    }
}

@media (max-width:480px) {
    .right {
        display: block;
    }
}