.wrapper {
    display: flex;
    font-size: 1.875rem;
    /* text-3xl */
    font-weight: 800;
    /* font-extrabold */
    letter-spacing: 0.05em;
    /* tracking-wider */
    text-decoration: none;
    background-image: linear-gradient(to right, #ff0916, #31f300, #a855f7);
    /* from-yellow-300 via-red-500 to-purple-500 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    /* Fallback for browsers not supporting text-fill-color */
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.4), 0 0 15px rgba(255, 255, 255, 0.2);
    /* custom logo-shadow */

}