.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: white;
    z-index: 3;

}

.wrapper .top {
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.wrapper .box {
    padding: 25px;
}

.wrapper .recipents {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px 0;
}

.wrapper .recipents span {
    padding: 3px 5px;
    background: skyblue;
    border-radius: 5px;
}

.wrapper .box .subject {
    display: flex;
    border: 1px solid lightblue;
    align-items: center;
    background: var(--background);
    border-left: none;
    border-right: none;
}

.wrapper .box .subject label {
    min-width: 70px;
    border-right: 1px solid skyblue;
}

.wrapper .box input {
    padding: 7px;
    width: 90%;
    border: none;
    background: transparent;
}

.wrapper .box textarea {
    width: 100%;
    min-height: 50vh;
    padding: 10px;
}

.wrapper .button {
    padding: 5px 7px;
    border-radius: 5px;
    background-color: green;
    max-width: 100px;
    color: white;
    text-align: center;
    cursor: pointer;
}

@media (max-width:570px) {
    .wrapper .top {
        padding: 10px 15px;
    }

    .wrapper .box {
        padding: 15px;
        ;
    }

}

@media (max-width:570px) {
    .wrapper .top {
        padding: 10px;
    }

    .wrapper .box {
        padding: 10px;
        ;
    }

}