.progressBar {
    width: 100%;
    background-color: #b8aaaa;
    /* Background color of the progress bar */
    border-radius: 0px;
    overflow: hidden;
    margin: 10px 0;
}

.progress {
    height: 100%;
    background: var(--buttonBg);
    /* Fill color of the progress bar */

}