.skeleton {
    background: var(--theme);
    /* Background color */
    animation: skeleton-loading 1s ease-in-out infinite alternate;
    /* Animation */
    min-width: 100px;
    border-radius: 0;
}

@keyframes skeleton-loading {
    0% {
        opacity: 0.2;
        /* Starting opacity */
    }

    100% {
        opacity: 0.5;
        /* Ending opacity */
    }
}