.wrapper {
    position: fixed;
    bottom: 20px;
    left: 0;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    border-radius: 0 5px 5px 0;
    box-shadow: var(--box-shadow);
    z-index: 999;
    animation: slideIn 0.5s ease-in-out forwards;
    min-width: 200px;
}


@keyframes slideIn {
    0% {
        transform: translateX(-100%) translateY(0%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        transform: translateX(0%) translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateX(0%) translateY(0);
        opacity: 0;
    }
}

.fade__out {
    animation: fadeOut 0.5s ease-in-out forwards;
}