.wrapper {
    padding: 25px;

}

.wrapper .slider {
    display: flex;
    overflow-x: hidden;
    min-width: 100%;
    border-radius: 0;
    position: relative;

    ;
}

.wrapper .slide {
    min-height: 60vh;
    min-width: 100%;
    /* aspect-ratio: 5/2; */
    transition: transform 0.5s ease-in-out;
    background: var(--tGradient);
    position: relative;
    overflow: hidden;

}

.slide .surface {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* gap: 15px; */
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--themeTransparent);
    padding: 0 25px;
    font-weight: bold;


}

.slide {
    text-shadow: var(--textShadow);

}





.slide p {
    max-width: 70%;
    font-size: 95%;

}

.slide p {
    margin-top: -10px;
}

.wrapper .slide button {
    padding: var(--buttonPadding)
}

.wrapper .dots {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;


}

.wrapper .dots .dot {
    min-width: 7px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: rgb(186, 186, 186);

}


@media (min-width:1024px) {
    .wrapper {
        padding: 15px var(--percent);
    }
}


@media (max-width:720px) {
    .wrapper .slide {
        min-height: 0;
        min-width: 100%;
        aspect-ratio: 9/5;


    }

}


@media (max-width:570px) {
    .wrapper {
        padding: 15px
    }

    .slide .surface {
        padding: 15px
    }




    .slide h2 {
        max-width: 250px;
        font-size: 150%;

    }
}

@media (max-width:410px) {

    .wrapper {
        padding: 10px
    }


    .slide .surface {
        padding: 10px;
    }

    .slide p {
        max-width: 90%;
        /* display: none; */
    }

    .wrapper .dots {
        margin-top: 10px;
        margin-bottom: 0;
    }


    .slide h2 {
        max-width: 150px;
        font-size: 120%;
    }


}