.wrapper {
    padding: 25px;
    min-height: 100vh;


}

.wrapper .container {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;

}

.wrapper .container .left,
.wrapper .container .right {
    background-color: var(--cardBg);
    padding: 10px;
    border-radius: 5px;
    flex: 1;
    box-shadow: var(--box-shadow);



}

.left .image__container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 400px;
    overflow: hidden;

}

/* .left .flex .inner__imageContainer img {
    border: 1px solid black
} */

.left .image__container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;


}



.left .flex {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    overflow-x: scroll;
}



.right .flex {
    display: flex;
    gap: 10px;
    margin: 12px 0;
    flex-wrap: wrap;
    align-items: center;
}

.right .quantity {
    display: flex;
    gap: 0;
    align-items: center;

}

.right .quantity span {
    border: 1px solid grey;
    background-color: aliceblue;
    padding: 3px 5px;
    min-height: 25px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.right .sizes {
    margin: 10px 0;
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    ;
}

.right .sizes .options {
    display: flex;
    gap: 10px;

}

.right .sizes .options .option,
.categories span {
    border: 1px solid grey;
    padding: 2px 7px;
    border-radius: 5px;
    cursor: pointer;

}


.right .colors .option {
    min-height: 16px !important;
    min-width: 10px;
    border-radius: 50% !important;
}

.right button {
    padding: 8px;
}


.categories {
    margin: 15px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap
}

.bottom__container .top {
    display: flex;
    justify-content: center;
    background-color: var(--cardBg);
    margin: 15px 0;
    box-shadow: var(--box-shadow);

}


.bottom__container .top button {
    border-radius: 0;
    padding: 10px;
}

.description {
    /* border: 1px solid red; */
    background-color: var(--cardBg);
    border-radius: 5px;
    padding: 10px;
    box-shadow: var(--box-shadow);

}

.description img {
    max-width: 500px;
    width: 100%;
    height: auto
}

@media (min-width:1024px) {
    .wrapper {
        padding: 25px var(--percent);
    }
}

@media (max-width:720px) {
    .container {
        flex-direction: column;
        gap: 0 !important;
    }

    .container .left {
        border-radius: 5px 5px 0px 0px !important;
    }

    .container .right {
        border-radius: 0px 0px 5px 5px !important;
        margin-top: -2px;
    }

}

@media (max-width:570px) {
    .wrapper {
        padding: 15px;
    }

    .left .flex {
        justify-content: flex-start;
    }
}

@media (max-width:410px) {
    .wrapper {
        padding: 10px
    }
}