.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;

}

.wrapper .form__container {
    background: white;
    background: var(--cardBg);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;



}

.wrapper .form__container .form {
    padding-right: 20px;
}

.wrapper .form__container .top {
    position: relative;
    border-bottom: 1px solid var(--borderColor);
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.wrapper .form__container .top .close {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    font-size: 150%;
    font-weight: bold;
}



.wrapper .form textarea,
.wrapper .form input {
    width: 100%;
    margin: 10px 0;
    overflow: hidden;

}

.wrapper .form textarea {

    min-height: 100px;
}


.wrapper .form .field label {
    margin: 10px 0;

}

.wrapper .form__container .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.wrapper .form .flex {
    display: flex;
    gap: 10px;
}

.wrapper .flex input {
    max-width: 100%;
}

.wrapper .form__container .flex .btn {
    background: var(--buttonBg);
    padding: var(--buttonPadding);
    color: var(--buttonC);
    border-radius: 0px;
    cursor: pointer;
}

.wrapper .form__container .flex .cancel {
    background: red;
    cursor: pointer;
}

@media (max-width:570px) {
    .wrapper .form__container {
        padding: 15px;
    }
}