.wrapper {
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    z-index: 3;
    display: flex;
    background: rgb(0, 0, 0, 0.1);
    width: 100%;
}


.wrapper .left {
    max-width: 200px;
    background: var(--nav);
    padding: 15px;
}

.wrapper .right {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex h3 {
    margin-top: 0;
}

.flex h3:nth-child(2) {
    background-color: black;
    padding: 1px 5px;
    color: white;
    cursor: pointer;
}

.heading {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    /* font-size: 110%; */
    font-weight: bold;
}

.filterOptions button,
.filterOptions input {
    padding: 7px;
    width: 100%;
}



.fields {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.filterOptions {
    margin: 15px 0;
}

.filterOptions .option {
    margin: 7px 0;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;

}

.filterOptions .option span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filterOptions .option:hover {
    color: green
}



/* Serach Box */
.serach {
    position: relative;
    border-bottom: 1px solid var(--borderColor);
    background: var(--cardBg);
    margin-bottom: 15px;
    ;
}

.serach input {
    padding: 10px;
    background: var(--cardBg);

}

.serach span {
    position: absolute;
    right: 0;
    bottom: 0;
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}