.wrapper {
    text-align: center;
    border-radius: 5px;    overflow: hidden;
    position: relative;

}



.wrapper .code {
    border: 2px dotted rgb(255, 255, 255);
    padding: var(--buttonPadding);
    margin: 10px 0;
    /* text-shadow:var(--textShadow); */
    /* background: var(--buttonBg); */
    /* max-width: 100px; */
}

.surface {
    /* position: absolute; */
    padding: 25px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: var(--themeTransparent);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-weight: bold;

}

.wrapper b,
.wrapper p {
    /* text-shadow: 1px 1px black; */
    width: 90%;
    
}

.wrapper b {
    font-size: 150%;
}
.wrapper p {
    font-size: 95%;
}



@media (max-width:570px) {
    .surface {
        padding: 15px;

    }

}

@media (max-width:410px) {
    .surface {
        padding: 10px;

    }

}