.wrapper {
    /* background: var(--buttonBg); */
    /* color: var(--buttonC); */
    border-radius: 0;
    position: relative;
    overflow: hidden;

}


.surface {
    /* position: absolute; */
    padding: 25px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: var(--themeTransparent);
    color: rgb(255, 255, 255);
    font-weight: bold;


}

.wrapper b,
.wrapper p {
    text-shadow: var(--textShadow);
    width: 90%;
}

.wrapper p {
    font-size: 95%;
}

.wrapper b {
    font-size: 150%;
}

.wrapper .inputField {
    display: flex;
    gap: 10px;
    align-items: center;
}

.wrapper input {
    background: var(--inputField);
    background: white;
}

.wrapper .btn {
    margin: 10px 0;
    padding: var(--buttonPadding);
    border-radius: 0;
    background: var(--buttonBg);
    color: var(--buttonC);
    cursor: pointer;
    display: inline-block;
    font-weight: normal;

}

@media (max-width:570px) {
    .surface {
        padding: 15px;

    }

}

@media (max-width:410px) {
    .surface {
        padding: 10px;

    }

    .wrapper .inputField {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        gap: 5px;
    }

    .wrapper .inputField input {
        width: 80%;
    }
}