.container {
    height: 100%;
    background: var(--inputField);
    border-radius: 5px;    padding: 0 10px;
    flex: 1;
    display: flex;
    ;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);



}

.wrapper {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 15px;
}


.wrapper .identities .identity {
    display: flex;
    gap: 10px;
    margin: 8px 0;
    align-items: flex-start;
}

.wrapper .identities .identity .square {
    min-width: 15px;
    max-width: 15px;
    aspect-ratio: 1/1;
    background-color: red;
}

@media (max-width:720px) {
    .wrapper {
        flex-direction: column;
        /* width: 40%; */
    }

    .wrapper .identities {
        display: flex;
        flex-wrap: wrap;
    }

    .wrapper .identities .identity {
        margin: 5px;
        gap: 5px;
    }
}

@media (max-width:570px) {
    .container {
        display: block;
        padding: 10px;
    }

    .wrapper {
        flex-direction: row;
        /* justify-content: space-between; */
        gap: 25px;
    }

    .wrapper .identities {
        display: block;

    }

    .wrapper .identities .identity {
        margin: 10px 0;
    }
}