.wrapper {
    background-color: var(--cardBg);
    padding: 10px 0;
    border-radius: 5px;
    min-width: 220px;
}

.wrapper .top {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 10px;
}

.wrapper .avater {
    border-radius: 50%;
    overflow: hidden;
}

.wrapper .name {
    font-weight: bold;
    margin-top: 10px;
    ;
}

.wrapper .joined {
    font-size: 80%;
    color: grey;
}

.wrapper .navigators {
    margin-top: 15px;
    ;
}

.wrapper .navigators .item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    cursor: pointer;

}

.wrapper .navigators .item:hover {
    background-color: var(--hoverBgColor);
}