.wrapper {
    width: 100%;
    ;

}


.wrapper h2 {
    margin: 0;
}

.statuses {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    flex-wrap: wrap;

}

.statuses span {
    padding: 3px 7px;
    border-radius: 0;
    border: 1px solid var(--borderColor);
    cursor: pointer;
}

.orders {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width:720px) {
    .table__wrapper {
        display: none;
    }
}