.wrapper {
  background: var(--cardBg);
  padding: 15px;
  border-radius: 0;
}

.wrapper .flex {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 15px 0;
  flex-wrap: wrap;

}

.flex .field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  width: auto;

}

.flex .field input {
  width: 90%;
  padding: 10px;
  min-width: 180px;
}

.btn {
  padding: 8px;
  text-align: center;
  border-radius: 0;
  background: var(--buttonBg);
  color: var(--buttonC);
  cursor: pointer;
}