.wrapper {
    padding: 15px;
    color: black;
    max-width: 200px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex h3 {
    margin-top: 0;
}

.flex h3:nth-child(2) {
    background-color: black;
    padding: 1px 5px;
    color: white;
    cursor: pointer;
}

.heading {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    /* font-size: 110%; */
    font-weight: bold;
}

.filterOptions button,
.filterOptions input {
    padding: 7px;
    width: 100%;
}



.fields {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.filterOptions {
    margin: 15px 0;
}

.filterOptions .option {
    margin: 7px 0;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;

}

.filterOptions .option span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.filterOptions .option:hover {
    color: green
}