.wrapper {
    padding: 25px;

}

.wrapper .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cardBg);
    padding: 5px
}

.wrapper .top .left {
    display: flex;
    align-items: center;
    gap: 10px
}

.wrapper .top .filter {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--borderColor);
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
}



.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: 10px 0;
}

.right select {
    padding: 7px;

}

.filterOptions {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    z-index: 3;
    box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%) translateY(0%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%) translateY(0);
        opacity: 1;
    }
}


@media (max-width:992px) {
    .products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
}


@media (max-width:720px) {
    .products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
}

@media (max-width:570px) {
    .wrapper {
        padding: 15px;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
}


@media (max-width:410px) {
    .products {
        display: flex;
        flex-direction: column;
    }

    .productsRow {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }

    .wrapper {
        padding: 10px;
    }
}