.wrapper {
    padding: 25px;

}

.wrapper .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cardBg);
    padding: 5px
}

.wrapper .top .left {
    display: flex;
    align-items: center;
    gap: 10px
}

.wrapper .top .filter {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--borderColor);
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
    color:var(--icon);
}



.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: 10px 0;
}

.right select {
    padding: 7px;
    /* text-transform: uppercase; */

}




@media (min-width:1024px) {
    .wrapper {
        padding: 25px var(--percent);
    }
}


@media (max-width:992px) {
    .products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
}


@media (max-width:720px) {
    .products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
}

@media (max-width:570px) {
    .wrapper {
        padding: 15px;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
}


@media (max-width:410px) {
    .products {   
        gap:10px;
        
    }

    .wrapper {
        padding: 10px;
    }
}