.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: var(--nav);
}



.wrapper .left,
.wrapper .right {
    display: flex;
    gap: 15px;
    align-items: center;
}

.icon {
    cursor: pointer;
    color: var(--icon);

}

.shoppingCartIcon {
    position: relative;

}


.shoppingCartIcon span {
    background: black;
    position: absolute;
    top: -9px;
    right: -8px;
    padding: 1px 5px;
    border-radius: 50%;
    color: var(--buttonC)
}

.cartItems {
    position: absolute;
    right: 0px;
    z-index: 3;
    max-width: 250px;
    display: none;
    padding: 15px 0;
    /* border: 1px solid red; */
    top: 12px;

}

.shoppingCartIcon:hover .cartItems {
    display: block;
}

@media (max-width:570px) {
    .wrapper {
        padding: 10px 15px
    }

    .wrapper .left,
    .wrapper .right {
        gap: 10px
    }
}


@media (max-width:410px) {
    .wrapper {
        padding: 10px;
    }

    .wrapper .left,
    .wrapper .right {
        gap: 10px
    }
}