.wrapper .top {
    display: flex;
    justify-content: space-between;
}

.wrapper .address__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.wrapper .top .btn {
    border-radius: 5px;
    background: var(--buttonBg);
    color: var(--buttonC);
    padding: 2px 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.wrapper .plus {
    font-size: 150%;
    font-weight: bold;
}