.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.2);
}

.wrapper .form__container {
    background: var(--cardBg);
    padding: 15px;
    border-radius: 5px;
}


.flex,
.flex__addressType,
.flex__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    gap: 10px;

}

.wrapper .form__container .flex .close {
    font-weight: bold;
    font-size: 120%;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: red;

}

.wrapper form {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.wrapper .field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper .field input {
    padding: 7px;
    border-radius: 5px;
    border: none;
    border: 1px solid var(--borderColor)
}

.flex__addressType {
    display: flex;
    justify-content: flex-start !important;

}

.flex__addressType span {
    flex: 1;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: lightcyan;
}

.flex__btn .btn {
    flex: 1;
    text-align: center;
    background: var(--buttonBg);
    color: var(--buttonC);
    padding: 5px;
    border-radius: 5px;
}