.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}


@media (max-width:720px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);


    }
}

@media (max-width:570px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
}

@media (max-width:480px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}