.card__wrapper {
  /* border: 1px solid lightgrey; */
  /* max-width: 190px; */
  padding: 10px;
  gap: 15px;
  border-radius: 0;
  box-shadow: var(--box-shadow);
  /* aspect-ratio: 6/3; */
  background: white;
  box-shadow: var(--box-shadow);

}


.title {
  color: var(--icon);
  font-weight: bold;
}

.flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

.bottom_flex {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 15px;

  ;
}

.number {
  font-weight: bold;
  font-size: 150%;
}

@media (max-width:570px) {
  .card__wrapper {
    min-width: 100px;
  }
}