.wrapper {
    padding: 15px 25px;
    padding-right: 25px;
}

.flex {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin: 15px 0
}

@media (max-width:720px) {
    .flex {
        flex-direction: column;
    }
}

@media (max-width:570px) {
    .wrapper {
        padding: 15px;
    }
}