.wrapper,
.left,
.right {
    display: flex;
    align-items: center;
}

.wrapper {
    /* padding:15px; */
    display: flex;
    justify-content: space-between;
    background: var(--nav);
    ;
    padding: 10px 25px;
    border-radius: 5px;

    position: sticky;
    top: 0;
    z-index: 1;
}



.menu {
    cursor: pointer;
    transform: scale(1.1);
    color: var(--icon)
}

.logo {
    display: inline;
    margin-top: -6px;
}

.right {
    gap: 10px;
}

.left {
    gap: 5px;
}

.right .item img {
    border-radius: 50%;
    overflow: hidden;
    border: 2px dotted rgb(255, 183, 0)
}

.order__create {}

.avater {}
@media (min-width:1024px) {
    .wrapper {
        padding: 10px var(--percent);
    }
}

@media (max-width:570px) {
    .wrapper {
        padding: 15px;
    }
}

@media (max-width:410px) {
    .wrapper {
        padding: 10px;
    }
}