.wrapper {
    padding: 25px;
    min-height: 100vh;


}

.wrapper .forms {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;

}

.wrapper .forms .left,
.wrapper .forms .right {
    background-color: var(--cardBg);
    padding: 10px;
    border-radius: 0;
    flex: 1;
    padding-bottom: 20px;
    box-shadow: var(--box-shadow);


}


.left .flex {
    display: flex;
    gap: 10px;
    width: 100%;
    /* margin: 10px 0; */
    margin: -10px 0;
}


.left .field {
    margin: 15px 0;
}

.left .field .minus,
.left .field .plus {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
    font-weight: bold;
}

.left .field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
    width: 100%;
    ;
    /* border: 1px solid red */
}

.field textarea {
    min-height: 100px;
}

.left .field input,
.left .field textarea {
    width: 98%;
}


.left .flex .field input,
.left .flex .field select,
.left .flex .field textarea {
    width: 96%;
}

.field input,
.field select,
.field textarea {
    padding: 10px 0;
    padding-left: 10px;
    margin-right: 10px;
}

.left .options {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    background: linear-gradient(aliceblue, white);
    flex-wrap: wrap;
    width: 100%;
    overflow: scroll;
    max-height: 200px;
    padding: 5px;
}

.left .options span {
    padding: 2px 3px;
    border-radius: 0;
    background-color: aquamarine;
    cursor: pointer;
}

.images {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.images .image__container {
    border: 1px solid var(--borderColor);
    border-radius: 0;
    max-height: 180px;
    min-width: 180px;
    aspect-ratio: 1/1;
    position: relative;
}


.image__container .colors {
    position: absolute;
    right: 0;
    /* height: 100%; */
    width: 100%;
    max-height: 50%;
    bottom: 0;
    overflow-y: scroll;
    background-color: white;
}

.wrapper button {
    padding: var(--buttonPadding);
}

.images .image__container img {
    object-fit: cover;
    position: center;
}

/* Order Crate */

.left .products,
.right .products {
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    flex-wrap: wrap;
}


.left .products .item {
    position: relative;
    padding: 0;
}


.left .products .item .selection {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 120px;
    background-color: rgb(255, 255, 255, 0.8);
    color: black;
    padding: 10px;
    right: 0;
    /* display: none; */
    overflow-y: hidden;
    max-height: 120px;

}

.left .products .item:hover .selection {
    display: block;
    overflow-y: scroll;
}

.selection .sizes,
.selection .colors,
.selection .quantity {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0;

}

.selection span {
    padding: 2px 7px;
    border-radius: 0;
    border: 1px solid var(--borderColor);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}


.selection .quantity {
    gap: 0;
}

.selection .quantity span {
    border-radius: 0;
}

.selected {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 160%;
    font-weight: bold;
    display: block;
    z-index: 3;
    border: 2px solid red;
    border-radius: 50%;
}



.wrapper .position {
    border: 1px solid black;
    padding: 7px;
    border-radius: 0;
    text-transform: capitalize;
    cursor: pointer;

}

@media (max-width:720px) {
    .forms {
        flex-direction: column;
    }

    /* .left {
        display: none;
    }

    .right {
        display: block;
    } */


}

@media (max-width:570px) {
    .wrapper {
        padding: 15px;
    }

    .left .flex {
        flex-direction: column;
        gap: 0;

    }

    .left .field input {
        width: 96%;
    }


}

@media (min-width:1024px) {
    .wrapper {
        padding: 25px var(--percent);
    }
}

@media (max-width:410px) {
    .wrapper {
        padding: 10px;
    }


}