.wrapper {
    background-color: var(--cardBg);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: scroll;
    z-index: 1;
    min-width: 200px
}

.wrapper .top {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background: var(--buttonBg);
    justify-content: space-between;
    min-height: 40px;
    max-height: 40px;
    margin: 0;


}

.wrapper .top .exit {
    margin-top: 8px;
    color: red;
    cursor: pointer;
}

.wrapper .avater {
    border-radius: 50%;
    overflow: hidden;
}

.wrapper .name {
    font-weight: bold;
    margin-top: 10px;
    ;
}

.wrapper .joined {
    font-size: 80%;
    color: grey;
}

.wrapper .navigators {
    margin-top: 15px;
    ;
}

.wrapper .navigators .item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    cursor: pointer;
    justify-content: space-between;



}

.wrapper .navigators .item .flex {
    display: flex;
    gap: 15px;
    align-items: center;
}

.wrapper .navigators .inner__items {
    margin-left: 15px;


}


.wrapper .navigators .item:hover {
    background-color: var(--hoverBgColor);
}