.wrapper {
    min-width: 200px;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgb(234, 234, 234);
    border-radius: 5px;
    background: white;
    width: 25%;
    margin-right: 1px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header .btn {
    font-weight: bolder;
    background: var(--linearbg1);
    border-radius: 5px;
    padding: 3px 5px;
    color: white;
    cursor: pointer;
  }
  
  .user {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
    /* gap: 10px; */
  }
  
  .user .left {
    display: flex;
    gap: 5px;
    align-items: flex-start;
  }
  
  .user .left .name {
    font-weight: bold;
  }
  
  .user .info .mail {
    font-size: 80%;
  }
  
  .user .right {
    display: flex;
    gap: 5px;
  }
  
  .right {
    color: #00001e;
  }
  
  @media (max-width: 570px) {
    .wrapper {
      width: 100%;
    }
  }
  