.wrapper {
    background: var(--nav);
    width: 100%;
    box-shadow: var(--box-shadow);
    /* padding: 10px; */
    min-width: 210px;
    color: initial;
}

.wrapper .items .item {
    display: flex;
    gap: 15px;
    padding: 15px;
    position: relative;
    ;
    border-bottom: 1px solid var(--borderColor);
}

.wrapper .item .x {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: scale(1.1, 0.9);
    cursor: pointer;

}

.wrapper .bottom {
    padding: 15px;
}

.wrapper .bottom .flex {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

.wrapper .bottom button {
    padding: 5px;
    min-width: 60px;
}