.wrapper {
    padding: 25px;
    min-height: 90vh;
}

.table__wrapper {
    overflow-x: scroll;
    background: var(--cardBg);
    padding: 15px;

}

.table__wrapper table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
}

.table__wrapper table th,
.table__wrapper table td {
    border: 1px solid var(--borderColor);
    padding: 5px;
    min-width: 100px
}

.table__wrapper table td {
    height: 50px;
}

.table__wrapper table .product {
    display: flex;
    gap: 15px;
    min-width: 180px;
}



.table__wrapper table .product img {
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.quantity {
    display: flex;
    gap: 0;
    align-items: center;

}

.quantity span {
    border: 1px solid var(--borderColor);
    background-color: aliceblue;
    padding: 3px 5px;
    min-height: 25px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

}

.clear__button {
    padding: 3px 5px;
    background-color: rgb(255, 0, 0, 0.1);
    color: red;
    cursor: pointer;
}

.x {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: red;
    cursor: pointer;

}

@media (max-width:570px) {
    .wrapper {
        padding: 15px
    }

    .table__wrapper {
        padding: 10px;
    }
}

@media (max-width:410px) {
    .wrapper {
        padding: 10px
    }
}