/* OrderStatus.module.css */

.hhGrayBox {
  background-color: #f8f8f8;
  margin-bottom: 20px;
  padding: 35px;
  margin-top: 20px;
}

.pt45 {
  padding-top: 45px;
}

.orderTracking {
  text-align: center;
  width: 33.33%;
  position: relative;
  display: block;
}

.orderTracking .isComplete {
  display: block;
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 0px solid #afafaf;
  background-color: #f7be16;
  margin: 0 auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
  z-index: 2;
}

.orderTracking .isComplete::after {
  display: block;
  position: absolute;
  content: '';
  height: 14px;
  width: 7px;
  top: -2px;
  bottom: 0;
  left: 5px;
  margin: auto 0;
  border: 0px solid #afafaf;
  border-width: 0px 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.orderTracking.completed .isComplete {
  border-color: #27aa80;
  border-width: 0px;
  background-color: #27aa80;
}

.orderTracking.completed .isComplete::after {
  border-color: #fff;
  border-width: 0px 3px 3px 0;
  width: 7px;
  left: 11px;
  opacity: 1;
}

.orderTracking p {
  color: #a4a4a4;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 0;
  line-height: 20px;
}

.orderTracking p span {
  font-size: 14px;
}

.orderTracking.completed p {
  color: #000;
}

.orderTracking::before {
  content: '';
  display: block;
  height: 3px;
  width: calc(100% - 40px);
  background-color: #f7be16;
  top: 13px;
  position: absolute;
  left: calc(-50% + 20px);
  z-index: 0;
}

.orderTracking:first-child::before {
  display: none;
}

.orderTracking.completed::before {
  background-color: #27aa80;
}
