.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(0, 0, 0, 0.3);
    height: 100vh;
    z-index: 3;
    animation: slideIn 0.5s ease-in-out forwards;
    display: flex;
}

.wrapper .left {
    background: var(--nav);
    min-width: 200px;
    max-width: 200px;
    height: 100%;

}

.wrapper .right {
    width: 100%;
    /* background-color: red; */
    min-width: 100%;
    height: 100%;

}

.wrapper .left::-webkit-scrollbar {
    width: 0;
}

.category {
    display: flex;
    justify-content: space-between;

}

.categories {
    max-height: 100%;
    overflow-y: scroll;;
}


.categories .plus {
    font-weight: bold;
    font-size: 120%;
    /* border: 1px solid red; */
    padding: 1px 5px;
}




@keyframes slideIn {
    0% {
        transform: translateX(-100%) translateY(0%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%) translateY(0);
        opacity: 1;
    }
}



.top {
    display: flex;
    align-items: center;
    max-height: 40px;
    min-height: 40px;
    background: var(--buttonBg);
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 10px 15px;
}

.top .close__btn {
    border: 1px solid white;
    padding: 2px 5px;
    color: white;
    cursor: pointer;
}

.wrapper .categories {
    padding: 15px;

}

.wrapper .categories .category {
    padding: 7px 0;
    cursor: pointer;
    margin: 5px 0;
}

.childCategory {
    /* background-color: red; */
    padding-left: 20px !important;
    /* margin: 0 !important; */
    margin-top: -10px !important;
}