.wrapper {
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
    background: var(--theme);
    color: var(--buttonC);
    overflow-x: scroll;

}


.container {
    position: relative;
    ;
}

.container .subcategories {
    position: absolute;
    top: 38px;
    z-index: 3;
    width: 100%;
}

@media (max-width:570px) {
    .wrapper {
        padding: 10px 15px;
    }
}

@media (max-width:480px) {
    .wrapper {
        padding: 10px;
    }
}