.wrapper {
    padding: 10px 25px;
    display: flex;
    gap: 10px;
    background: var(--theme);
    color: var(--buttonC);
    position: relative;


}


.wrapper .item {
    position: relative;
}

.wrapper .item .items {
    position: absolute;
    top: 28px;
    z-index: 3;
    background: var(--nav);
    color: black;
    padding: 10px;
    border-top: 2px solid rgb(0, 183, 255);
    min-width: 150px;
    /* border: 1px solid red; */
}

.items .category {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
}

.items .category .plus {
    /* font-weight: bold; */
}




.items .moreItems {
    /* border-top: 2px solid rgb(0, 183, 255); */
    top: -2px;
    /* left: 160px; */
    position: absolute;
    background: var(--nav);
    min-width: 150px;
    ;
}

.items .moreItems .expanded_category {
    padding: 7px;
}

@media (min-width:1024px) {
    .wrapper {
        padding: 10px var(--percent);
    }
}