.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    /* margin: 25px 0; */

}


.wrapper .category {
    /* border: 1px solid var(--borderColor); */
    background: var(--cardBg);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 5px 10px;
    /* min-width: 100px; */
    box-shadow: var(--box-shadow);
    cursor: pointer;

}



@media (max-width:720px) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
        gap: 15px
    }
}

@media (max-width:570px) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
        gap: 5px
    }

    .wrapper .category .icon {
        background: var(--cardBg);
        border-radius: 50%;
        box-shadow: var(--box-shadow);
        padding: 5px;
    }

    .wrapper .category {
        background: none;
        box-shadow: none;
        min-width: none;
        padding: 0px 0px;
        text-align: center;
    }

    .wrapper .category .icon {
        padding: 7px
    }

    .wrapper .category .icon img {
        transform: scale(0.6);
    }

}

@media (max-width:410px) {
    .wrapper {
        gap: 0px
    }

    .wrapper .category {
        gap: 10px;
        padding: 5px;
    }
}



@media (max-width:570px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px
    }
}