.wrapper {
    padding: 10px 15px;
    text-align: center;
    background: var(--buttonBg);
    margin: 0 0;
}

.wrapper .c {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

@media (max-width:410px) {
    .wrapper {
        padding: 10px
    }
}