.wrapper {
    background: white;
    border-top: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    position: relative;
    padding: 0 25px;
}

.wrapper .flex {
    display: flex;
    gap: 15px;
    padding: 0;
}

.wrapper .flex .items {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;

}




.wrapper .items .item {
    cursor: pointer;
    display: flex;
    gap: 5px;
    /* min-width: 120px; */
    /* background-color: aliceblue; */
    padding: 7px
}

.wrapper .items .item img {
    border-radius: 5px;
    overflow: hidden;
    display: none;
}

.category__items {
    /* padding: 5px 15px; */

}



.wrapper .category__items {
    position: relative;
    background: var(--buttonBg);
    color: var(--buttonC);
    padding: 7px;

}



.wrapper .category__items .select__category {
    color: var(--buttonC);
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;


}

.wrapper .category__items .category__list {
    position: absolute;
    background-color: white;
    min-height: 170px;
    z-index: 1;
    /* padding: 5px; */
    top: 40px;
    left: 0;
    width: 100%;
    overflow-y: scroll;


}

.category__item {
    padding: 10px;
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red */
}



.category__item summary {
    font-weight: bold;
}

/* .category__item span:hover {
    color: green;

} */

.category__list,
.category__item:hover {
    background: var(--hoverBgColor)
}
@media (min-width:1024px) {
    .wrapper {
        padding: 0 var(--percent);
    }
}

@media (max-width:570px) {
    .wrapper {
        padding: 0 15px;
    }

    .wrapper .flex .category__items {
        display: none;
    }



}