@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


:root {
  --main: rgb(253, 254, 254);
  --secondary: rgb(148, 49, 49);
  --accent: grey;
  --background: aliceblue;
  --black: rgb(0, 0, 0);
  --borderColor: grey;
  --font: 'Ubuntu', sans-serif;
  --hoverBgColor: skyblue;
  --cardBg: white;
  --buttonBg: linear-gradient(45deg, rgb(0, 157, 255), rgb(3, 84, 169));
  --buttonC: white;
  --lightF: rgb(82, 80, 80);
}


html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  ;
}

h2 {
  margin-top: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 0;
}



::-webkit-scrollbar-thumb {
  background-color: rgba(0, 213, 255, 0.6);
  width: 12px;
  backdrop-filter: blur(5px);
}



body {
  color: rgb(0, 0, 0, 0.8);
  background: var(--background);
  min-height: 100vh;
  font-family: var(--font)
}

a {
  color: inherit;
  text-decoration: none;
  color: rgb(0, 183, 255);
}

li {
  list-style-type: none;
}



input,
select,
textarea {
  border: none;
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(245deg, rgb(0, 129, 0, 0.1), rgb(0, 0, 249, 0.1));
  border-radius: 5px;
}


button {
  border: none;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5px;
  background: var(--buttonBg);
  color: var(--buttonC);
  cursor: pointer;
}



@media (max-width:570px) {
  body {
    font-size: 85%;
  }
}