.wrapper {
    padding: 25px;
    display: flex;

    justify-content: center;
    gap: 15px;
}

.wrapper .right {
    height: 100%;
}


.wrapper img {
    border-radius: 5px;
    object-fit: cover;
    height: 100%;
    max-height: 100%;
}


.wrapper .left {
    flex: 2.15;
    height: 100%;
    overflow: hidden;
    position: relative;
}


.wrapper .right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    height: 100%;
    padding: 0;
    margin: 0
}

.wrapper .left img {
    height: 100%;
    width: 100%;
}

.wrapper .right img {
    height: auto;
    width: 100%
}



.wrapper .right .item:nth-child(2) {
    margin-top: -5px;
}



.surface {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: center;
    gap: 0
}


.surface .flex {
    display: flex;
    gap: 15px;
}

.surface .flex .btn {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

@media (max-width:720px) {

    .wrapper .right {
        display: none;
    }

}



@media (max-width:570px) {
    .wrapper {
        padding: 15px;
        flex-direction: column;
        gap: 10px;

    }

    .wrapper .right {
        display: flex;
        flex-direction: row !important;
        gap: 10px;

    }

    .wrapper .right .item:nth-child(2) {
        margin-top: 0;
    }

    .surface {
        align-items: flex-start;
    }


}