.wrapper {
    padding: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;

}

.wrapper .right {
    height: 100%;
}

.wrapper .left,
.warpper .right {
    height: 100%;
    min-height: 74vh;
    max-height: 74vh;
    overflow: hidden;
    border-radius: 5px;
    padding: 10px
}




.wrapper .left {
    flex: 2;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}


.wrapper .right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    height: 100%;
    padding: 0;
    margin: 0
}

.wrapper .right .image {
    width: 100%;
    min-height: 37vh;
    border-radius: 5px;
}


.wrapper .right .item:nth-child(2) {
    margin-top: -5px;
}


.flex {
    display: flex;
    justify-content: center;
    gap: 15px;

}

.flex .btn {
    border-radius: 5px;
    padding: 10px;
    background: var(--buttonBg);
    color: var(--buttonC);
    cursor: pointer;
}


@media (max-width:720px) {

    .wrapper .right {
        display: none;
    }

    .wrapper .left {
        min-height: 60vh;
    }

    .wrapper .right .image {
        min-height: 21vh;
    }

}



@media (max-width:570px) {
    .wrapper {
        padding: 15px;
        flex-direction: column;
        gap: 10px;
        text-align: left;


    }

    .wrapper .right {
        display: flex;
        flex-direction: row !important;
        gap: 10px;

    }

    .wrapper .right .item:nth-child(2) {
        margin-top: 0;
    }

    .wrapper .left {
        align-items: flex-start;
    }


}