.wrapper {
    padding: 25px;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper .form__container {
    background: var(--cardBg);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    /* min-width: 280px; */
}

.wrapper .logo {
    align-items: center;
    justify-content: center;
    display: inline;
    display: flex;




}



.wrapper .form__container .title {
    font-size: 120%;
    font-weight: bold;
}

.wrapper form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.wrapper form input,
.wrapper form .btn {
    padding: 10px;
    ;
    border-radius: 5px;
    border: none;
    /* border: 1px solid var(--borderColor); */
    background-color: aliceblue;
}

.wrapper form .btn {
    text-align: center;
    padding: 8px;
    background: var(--buttonBg);
    color: var(--buttonC);
    text-transform: capitalize;
    cursor: pointer;
}

.wrapper .route {
    display: flex;
    align-items: left;

}

.route .cooldown {
    margin-left: 5px;
    color: skyblue;
    display: flex;
    gap: 5px;

}

@media (max-width:410px) {
    .wrapper {
        padding: 10px
    }
}