.wrapper,
.opened__searchBox {
    background: var(--nav);
    padding: 15px 25px;
    position: sticky;
    max-height: 40px;
    min-height: 40px;
    top: 0;
    z-index: 2;
}


.opened__searchBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    ;
    display: none;
    min-height: 25px;
    max-height: 30px;
    animation: slideIn 0.5s ease-in-out forwards;
}




@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.navigator {}

.opened__searchBox span,
.navigator span {
    font-size: 150%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(247, 0, 0); */
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(255, 0, 0, 0.1);
    color: black;
}


.navigator span {
    top: 5px;
    right: 5px;
    max-width: 15px;
    position: absolute;
    border: 1px solid white;
    color: black;
    background-color: aliceblue;

}

.wrapper .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .flex .right {
    display: flex;
    gap: 15px;
}

.wrapper .logo,
.wrapper .right {
    flex: 1
}

.right .menu {
    display: none;
}

.wrapper .search {
    flex: 2;
    display: flex;
    justify-content: right;
}

.wrapper .right {
    justify-content: flex-end;
    color: var(--icon)
}

.wrapper .search__icon {
    display: none;
}

.wrapper .nav {
    display: none;
}


.right .item {
    position: relative
}

.right .item span {
    position: absolute;
    border-radius: 50%;
    padding: 1px 5px;
    background: black;
    color: white;
    right: -10px;
    top: -10px;
    text-align: center;
    font-size: 90%;
    font-weight: 100;

}

.right .item .cartItems {
    position: absolute;
    right: -30px;
    top: 15px;
    z-index: 5;
    min-width: 200px;
    /* overflow: auto; */
    padding: 20px;
    ;
    /* border: 1px solid red; */
    overflow-y: scroll;
    display: none;

}

.right .item:hover .cartItems {
    display: block;
}

@media (min-width:1024px) {
    .wrapper {
        padding: 15px var(--percent);
    }
}

@media (max-width:570px) {
    .opened__searchBox {
        display: flex;
        justify-content: space-between;
        gap: 0;
        width: auto;

    }

    .wrapper .nav {
        display: block;
    }

    .wrapper .profile {
        display: none;
    }


    .wrapper {
        padding: 10px 15px;
    }

    .opened__searchBox {
        padding: 15px;
    }


}

@media (max-width:480px) {
    .search {
        display: none !important;
    }

    .wrapper .search__icon {
        display: block;
    }

    .opened__searchBox span {
        padding: 2px 7px;
    }

    .menu {
        display: block !important
    }

}

@media (max-width:410px) {
    .wrapper {
        padding: 10px 15px;
    }
}