.wrapper {
    background-color: var(--cardBg);
    border-radius: 0;
    overflow: hidden;
    max-width: 250px;
    cursor: pointer;
    /* min-width: 170px; */
    box-shadow: var(--box-shadow);

}

.wrapper .pic {
    overflow: hidden;
}

.wrapper .pic img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: transform .5s ease-in-out;
    overflow: hidden;
}


.wrapper .pic img:hover {
    transform: scale(1.5) rotate(25deg);
}

.wrapper .details {
    padding: 10px;
}

.wrapper .category {
    color: grey;
    font-size: 80%;
    margin-bottom: 5px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wrapper .title {
    margin-bottom: 10px;

}

.wrapper .price {
    font-weight: bold;
    color: var(--theme)
}

.wrapper .flex {
    display: flex;
    gap: 10px;
    font-size: 70%;

}

.wrapper .flex .price {
    color: grey;
}


@media (max-width:410px) {

    .category {
        /* display: none; */
    }



}