.flex {
    display: flex;
    gap: 0;
    border-radius: 5px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    width: 90%;

}

.flex .select__category {
    display: none;
}

.flex .select__category select,
.flex .field input {
    /* padding: 10px; */
    border: none;
    border-radius: 0;
}


.flex select {
    max-width: 60px;
    padding: 10px 5px;
    ;
}

.flex .field {
    position: relative;
    overflow: hidden;
    width: 100%;

}

.flex .field input {
    width: 100%;
    min-width: 200px;
    padding: 10px;
}

.flex .field .icon {
    position: absolute;
    top: 0px;
    right: 0;
    background: var(--buttonBg);
    height: 103%;
    min-width: 35px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:480px) {
    .flex select {
        max-width: 70px;
    }

    .flex .field input {
        padding: 5px 7px;
    }


}